body {
    font-family: Optima;
}

#title {
    padding-left: 10px;
    color: rgb(106, 104, 104);
    font-size: 4em;
	float: left;
}

#instructions {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#instructions span {
    float: right;
    font-size: 2em;
    padding: 1em;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #d9d9d9;
}

#states .active {
  fill: rgba(255, 127, 0, 0.65);
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 1.2em Optima;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#month_arcs {
    pointer-events: none !important;
}

.months {
    pointer-events: none !important;
}

#results {
  border-style: none;
  background-color: rgba(255, 255, 255, 0.6);
  width: 70%;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #888888;
  font-family: optima;
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  top: 5.5em;
  border-radius: 25px;
  padding:20px;
}

.results {
    cursor: pointer;
}
.hidden {
  display: none;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: default;
}

p { margin:0 }

#recipe {
    float:right;
}

#Back-button {
    float: left;
}

.buttons {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(224, 224, 224, 0);
    background-color: #a6cee3;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    padding-top: 0.4em;
}
.buttons.hovered{
    border-color: black;
}
